@tailwind base;
@tailwind components;
@tailwind utilities;

/* To change the theme colors, change the values below
  or use the "Copy code" button at https://ui.shadcn.com/themes */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 8%;
    --foreground: 210 40% 98%;
    --card: 215 25% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 215 25% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 173 58% 39%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 25% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 25% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 173 58% 39%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 25% 18%;
    --input: 215 25% 18%;
    --ring: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply bg-background;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }

  form .react-colorful {
    @apply w-full;
  }
}
